.Order {
    width: 90%;
    max-width: 730px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Burger {
    display: inline-block;
    height: 15px;
    width: 30%;
    padding-right: 20px;
}

.Info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 65%;
    position: absolute;
    vertical-align: middle;
    padding: 0px 15px;
}

.IngredientSpan {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    /* border: 1px solid #ccc; */
}

@media (max-width: 600px){
    .Info {
        font-size: 0.75em;
        max-width: 50%;
    }
    .Info span {
        border: none;
        margin: 3px;
    }
}

